@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.cursor-eraser {
  cursor: url('/eraser.svg'), auto;
}


.cursor-pen {
  cursor: url('/pen.svg') , auto; 
}

.cursor-brush{
  cursor: url('/brush.svg'),auto
}

button:active {
  transform: translateY(4px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  
}




/* 
@layer utilities {
  .cursor-eraser {
    cursor: url('/eraser.svg'), auto;
    
  }
}  */


@media (max-width: 768px) {
  .canvas-container {
    height: 100%;
  }

  canvas {
    height: 100% !important;
    touch-action: none;
    /* margin-bottom: 200px; */
    padding-bottom: 2%;


  }
}